*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d6d3d1;
    text-align: center;
    line-height: 50px;
}

.container{
    background-color: #fff;
    width: 80%;
    height: 100vh;
    margin: auto;
    display: grid;
    overflow: hidden;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "caja caja"
                         "w1 w2"
                         "w3 w4"
                         "w5 w6"
                         "w7 w8"
                         "w9 w10"
                         "w11 . ";



        .caja{
            grid-area: caja;
            background-color: #ef4444;
        }

        .w1{
            grid-area: w1;
            background-color: #00A3E8;
        }

        .w2{
            grid-area: w2;
            background-color: #00A3E8;
        }

        .w3{
            grid-area: w3;
            background-color: #00A3E8;
        }

        .w4{
            grid-area: w4;
            background-color: #00A3E8;
        }

        .w5{
            grid-area: w5;
            background-color: #00A3E8;
        }

        .w6{
            grid-area: w6;
            background-color: #00A3E8;
        }

        .w7{
            grid-area: w7;
            background-color: #00A3E8;
        }
        
        .w8{
            grid-area: w8;
            background-color: #00A3E8;
        }

        .w9{
            grid-area: w9;
            background-color: #00A3E8;
        }
        
        .w10{
            grid-area: w10;
            background-color: #00A3E8;
        }
        .w11{
            grid-area: w11;
            background-color: #00A3E8;
        }


        @media (min-width:576px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "caja caja "
                                 "w1 w2"
                                 "w3 w4"
                                 "w5 w6"
                                 "w7 w8"
                                 "w9 w10"
                                 "w11 . " ;


        }

        @media (min-width:768px){
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr;
            grid-template-areas: "caja caja w1"
                                 "caja caja w2"
                                 "w3 w4 w5"
                                 "w6 w7 w8"
                                 "w9 w10 w11" ;


        }

        @media (min-width:992px){
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: "caja caja w1 w2"
                                 "caja caja w3 w4"
                                  "w5 w6 w7 w8 "
                                 "w9 w10 w11 . " ;
        }

        @media (min-width:1200px){
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr ;
            grid-template-areas: "caja caja w1 w2 w3"
                                 "caja caja w4 w5 w6 "
                                  "w7 w8 w9 w10 w11";
        }






}